.card{
    margin: 5% 0%;
    justify-content: center;
  }
  
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
    text-align: center;
    justify-content: center;
  }

.btn{
    justify-content: center;
    text-align: center;
}
  